<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Represent the 10</title>
	<meta name="description" content="Represent the 10">
	<meta name="author" content="UBC CTC">

	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

	<!--Favicon-->
	<link rel="icon" href="favicon.png" type="image/png" sizes="24x24">

	<!--Bootstrap Import-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/default.css">

</head>

<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">Represent the 10</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="index.html">Home</a></li>
	      <li><a href="info.html">Info</a></li>
	      <li><a href="signature.html">Signature</a></li>
	      <li><a href="contact.html">Contact</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="container-fluid">

		<h1>Represent the 10</h1>
	</div>




	<!--jQuery Import-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/scripts.js"></script>
</body>
</html>
