/*Import of Montserrat from Google Font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	background-color:white;
	color:rgb(170,170,255);
	font-family: "Montserrat", san-serif;
}
